button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat:repeat;
}
header {
    font-family: Nunito, Helvetica, Arial, sans-serif;
    font-size: 25px;
    height: 30px;
    width: 100%;
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
div.log{
  display: block;
  grid-column: 1/2;
}
div.logout{
  display: block;
  grid-column:2/3;
}
p#warning{
  background-color: white;
}
div#video-container{
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap:10px;
}
h3{
  font-family: sans-serif;
  display: inline;
}
#searchButton{
  display:none;
}
#changetitle{
  display:none;
  padding: 6px 10px;
}
#addproduct{
  display:none;
}
#inputTitle{
  display:none;
}
#titleSaver{
  display:none;
}
#searchBar{
  display:none;
}
p#enterTitle{
  display:none;
}
#share{
  display: none;
}
button.delete{
  padding: 6px 10px;
  border-radius: 10px;
  color: black;
  background-color:#87CEFA;
  box-shadow: none;
}
